.form-control, .btn-block {
    margin-bottom: 10px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-container {
    width: 400px;
    margin: auto;
}

.credits {
    margin-top: 15px;
}

.nav-color{
    background-color: #e3f2fd;
}

.table-text{
    text-align: center;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.table2 {
  margin-left: 2%;
  margin-right: 5%;
}

ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  .tablestyle {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    margin-left: 10%;
    list-style-type: none;
    background: rgb(179, 212, 255);
    font-size: 18px;
    transition: 0.2s;
    width: 50%;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 15px;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  .tablestyle :nth-child(even) {
    background: rgb(191, 230, 248);
  }
  
  /* Style the "Add" button */
  .addBtn {
    width: 80%;
    background: rgb(123, 196, 238);
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    height: 38px;
  }
  
  .addBtn:hover {
    background-color: #efefef;
  }

  /* style the map */
  #map {
    width: 80%;
    height: 400px;
    background-color: grey;
    margin-left: 10%;
    text-align: center;
  }

.special{
  background-color: white;
}

