.form-control, .btn-block {
    margin-bottom: 10px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-container {
    width: 400px;
    margin: auto;
}

.credits {
    margin-top: 15px;
}

.nav-color{
    background-color: #e3f2fd;
}