<html>
	<head>
		<script>
			// Initialize and add the map
            var map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 8
                });
            }
		</script>
	</head>
	<body ng-app="ItemApp">
		<span ng-show="currentUser">
			<div class="container">  
                <h2 class = "table-text">Shopping List</h2>
                <h5 class = "table-text">Note: Here is a shopping list to help you remember what you need to purchase.</h5>
                <h5 class = "table-text">(The map is to help you find the nearest grocery stores)</h5>
                <br/>
                <br/>
                    <table class="table table-text table2">
                            <col width="150">
                            <col width="150">
                            <col width="150">
                            <col width="150">
                            <thead>
                                <tr>
                                    <th class = "table-text">Product Name</th>
                                    <th class = "table-text">Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="form-control" name="productname" ng-model="product.productname"></td>
                                    <td><input type="number" class="form-control" name="quantity" ng-model="product.quantity"></td>
                                    <td><button ng-click="add(product)" class="addBtn">Add</button>
                                </tr>
                                </tr>
                                <tr ng-repeat="product in products" class = "tablestyle">
                                    <td>{{product.productname}}</td>
                                    <td>{{product.quantity}}</td>
                                    <td class="special"><button ng-click="remove(product)" class="addBtn">Delete</button>
                                </tr>
                            </tbody>
                        </table>
            </div>
		</span>

		<div id="map"></div>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5Vf8wjYB60wXtg86RIgm-GlT-ALFK2Ak&callback=initMap"  async defer>
		</script>
	</body>
</html>