<html>
	<head>
		<script>
			var myNodelist = document.getElementsByTagName("LI");
			var i;
			for (i = 0; i < myNodelist.length; i++) {
				var span = document.createElement("SPAN");
				var txt = document.createTextNode("\u00D7");
				span.className = "close";
				span.appendChild(txt);
				myNodelist[i].appendChild(span);
			}

			// Click on a close button to hide the current list item
			var close = document.getElementsByClassName("close");
			var i;
			for (i = 0; i < close.length; i++) {
				close[i].onclick = function() {
					var div = this.parentElement;
					div.style.display = "none";
				}
			}

			// Add a "checked" symbol when clicking on a list item
			var list = document.querySelector('ul');
			list.addEventListener('click', function(ev) {
				if (ev.target.tagName === 'LI') {
					ev.target.classList.toggle('checked');
				}
			}, false);

			// Create a new list item when clicking on the "Add" button
			function newElement() {
				var li = document.createElement("li");
				var inputValue = document.getElementById("myInput").value;
				var t = document.createTextNode(inputValue);
				li.appendChild(t);
				if (inputValue === '') {
					alert("You must write something!");
				} else {
					document.getElementById("myUL").appendChild(li);
				}
				document.getElementById("myInput").value = "";

				var span = document.createElement("SPAN");
				var txt = document.createTextNode("\u00D7");
				span.className = "close";
				span.appendChild(txt);
				li.appendChild(span);

				for (i = 0; i < close.length; i++) {
					close[i].onclick = function() {
					var div = this.parentElement;
					div.style.display = "none";
					}
				}
			}
			// Initialize and add the map
			function initMap() {
				// The location of Uluru
				var uluru = {lat: -25.344, lng: 131.036};
				// The map, centered at Uluru
				var map = new google.maps.Map(
					document.getElementById('map'), {zoom: 4, center: uluru});
				// The marker, positioned at Uluru
				var marker = new google.maps.Marker({position: uluru, map: map});
			}
		</script>
	</head>
	<body ng-app="ItemApp">
		<span ng-show="currentUser">
			<div class="container">
				<h2 style="margin:5px">Shopping List</h2>
				<br/>
                <input type="text" id="myInput" placeholder="Items...">
                <span onclick="newElement()" class="addBtn">Add</span>
			</div>
			<ul id="myUL">
			</ul>
		</span>

		<div id="map"></div>
		<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5Vf8wjYB60wXtg86RIgm-GlT-ALFK2Ak&callback=initMap">
		</script>
	</body>
</html>